buildvs/bin/
buildvs/obj/
buildvs/Debug
buildvs/Release
buildvs/.vs
libs/openvr/samples
libs/openvr_newer
tools/sort_points/bin/
tools/sort_points/obj/
tools/sort_points/.vs
tools/sort_points/Sort_Frugal/Debug
tools/sort_points/Sort_Frugal/Release
tools/sort_points/Sort_Frugal/.vs
.vscode
build
